<link rel="stylesheet" href="/stylesheets/reviewCard.css">
<link rel="stylesheet" href="/stylesheets/stars.css">
<div class="card mb-2 review-card">
  <div class="card-body position-relative pt-4">

    <!-- USER -->
    <div class="d-flex align-items-center gap-2 mb-2">
      <% if (review.auther && review.auther.profileImage && review.auther.profileImage.url) { %>
        <img 
          src="<%= review.auther.profileImage.url %>" 
          class="rounded-circle"
          style="width:35px; height:35px; object-fit:cover;"
          loading="lazy"
          alt="profile image"
        >
      <% } else { %>
        <div class="profile-initial">
          <%= review.auther.profileInitial %>
        </div>
      <% } %>
      <h4 class="fw-bold mb-0"><%= review.auther.firstName %></h4>
    </div>

    <!-- RATING -->
    <p class="starability-result" data-rating="<%= review.rating %>"></p>

    <!-- TEXT -->
    <p class="mt-1 pt-2"><%= review.body %></p>

    <!-- IMAGES -->
    <% if (review.images && review.images.length > 0) { %>
      <div class="review-image-scroll mb-3">
        <% review.images.forEach(img => { %>
          <img 
            src="<%= img.url %>" 
            class="review-thumb"
            data-gallery="review-<%= review._id %>"
            data-full="<%= img.url %>"
            loading="lazy"
            alt="review images"
          >
        <% }) %>
      </div>
    <% } %>

    <!-- ACTIONS -->
    <% if (currentUser && review.auther._id.equals(currentUser._id)) { %>
      <div class="dropdown" style="position:absolute; top:15px; right:15px;">
        
        <button 
          class="btn btn-link p-0 text-dark" 
          type="button" 
          data-bs-toggle="dropdown"
          style="font-size:22px;"
          aria-label="review info"
        >
          
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-three-dots-vertical">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          </svg>
        </button>

        <ul class="dropdown-menu dropdown-menu-end shadow">
          <li>
            <a class="dropdown-item"
              href="/campgrounds/<%= campId %>/reviews/<%= review._id %>/edit?redirectTo=<%= encodeURIComponent(currentUrl) %>">
              Edit
            </a>
          </li>

          <li>
            <form method="POST"
              action="/campgrounds/<%= campId %>/reviews/<%= review._id %>?_method=DELETE">
              <input type="hidden" name="redirectTo" value="<%= currentUrl %>">
              <button class="dropdown-item text-danger">Delete</button>
            </form>
          </li>
        </ul>

      </div>
    <% } %>

  </div>
</div>

<script defer src="/javascripts/imageModal.js"></script>